.imgPrinc{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.479);
  margin-bottom: 30px;
}

.imgPrinc img{
    object-fit: cover;
    width: 100%;
    height: 55rem;
}

.titulo {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 1;
}
.titulo h1 {
  color: aliceblue;
  font-size: 20rem;
  text-shadow: 0.07em 0.05em 0.1em rgba(51, 51, 51, 0.65);
}

.container{
    display: flex;
   /*  width: 85%; */
    margin: auto;
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
    overflow-x: hidden;
}

.artista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfil1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 70px;

}

.perfil2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.artista p{
  font-size: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.artista .derecha{
    position: relative;
    right: 150px;
    width: 800px;
    height: 800px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #82c5d5;
}

.derecha img{
    position: absolute;
    right: 20%;
    top: 150px;
    max-width: 55%;
    max-height: 55%;
    border-radius: 10%;
}
  
.derecha h3 {
  position: absolute;
  left: 42%;
  top: 80%;
  color: #333;
  font-size: 25px;
}

.artista .izquierda{
    position: relative;
    left: 150px;
    width: 800px;
    height: 800px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffae90;
}

.izquierda img{
  position: absolute;
  left: 20%;
  top: 150px;
  max-width: 55%;
  max-height: 55%;
  border-radius: 10%;
}

.izquierda h3 {
  position: relative;
  left: 43%;
  top: 80%;
  color: rgb(51, 51, 51);
  font-size: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    rgb(255, 255, 255) 0%,
    rgb(130, 197, 213) 100%
  );
}
footer img {
  width: 8%;
  height: 8%;
}
footer p {
  font-weight: 300;
  font-size: 1.54rem;
}
#logoFest {
  width: 15%;
  height: 15%;
  z-index: 1;
  padding-top: 1%;
  mix-blend-mode: luminosity;
}